<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main-css.css')}}">
        <script src="{{url_for('static', filename='js/javascript.js')}}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>E-Commerce</title>
    </head>
    
    <body>
        <header>
            <div id="logo-img" style="display: flex;">
                <a href="javascript:location.reload()"><img src="{{url_for('static', filename='img/1.png')}}" alt="Royal college london logo" height="90px" width="300px"></a>
                    <ul>
                        <li><button class="pic-but" id="pic">Pictures</button></li>
                        <li><a href="register">Register</a></li>
                        <li><a href="login">Login</a></li>
                        <li><button class="pic-but" id="cont">Contact US</button></li>
                    </ul>
            </div>    
            <div id="search">
                <input type="search" placeholder="Search for an Image" id="searchinput">
                <button type="submit" id="sb"><i class="fa fa-search"></i></button>  

                <img src="{{url_for('static', filename='img/notloged.png')}}" alt="Profile Image" height="50px" width="50px" style="padding-left: 270px; padding-top:25px;border-radius:5%;cursor:pointer;" id='notlogged'>

            </div>

        </header>

    </body>
</html>
